[epydoc]

# Information about the project
name: sugar-update-control documentation
url: http://wiki.laptop.org/go/API_Reference

# List of modules to document -- either dotted names, module filenames,
# or package directory names.
modules: bitfrost model view

# use reStructuredText by default to format docstrings
docformat: restructuredtext
inheritance: grouped
verbosity: 1

# Write html output to directory "apidocs"
output: html
target: apidocs/
